#!/usr/bin/env xdg-open
[Desktop Entry]
Name=toolkit
Comment=
Exec=/etc/Linux-tools/linux-toolkit.sh
Icon=/etc/Linux-tools/tool.jpg
Categories=Utility;
Terminal=True
Type=Application  
