#!/usr/bin/env xdg-open
[Desktop Entry]
Name=toolkit
Comment=
Exec=/home/Projects/Linux-toolkit/linux-toolkit.sh
Icon=/etc/Linux-toolkit/tool.jpg
Categories=Utility;
Terminal=true
Type=Application
